* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;

  height: 100vh;
}
header{
  display: flex; /* Como é um recurso em cascata, o header tem que vim antes para um display não interferir no outro*/
  align-items: center; /*para os itens se centralizarem no eixo*/
  justify-content: space-between; /*coloca espaço entre os elementos, de uma ponta a outra*/

  padding: 48px; /*Preenchimento interno do header, faz os itens não ficarem "encostando nas bordas"*/ 

  position: fixed;
  width: 100%;
  background-color: #09090a;
}
 button{
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8B5CF6;
  background-color: transparent;
  color: white;

  display: flex;          /* o alingn não funciona sem o display*/
  align-items: center;
  gap: 12px;  /* gap é espaço entre, no caso entre o mais e o texto*/

  font-family: 'Inter';   /*font copiada do google fonts*/
  font-weight: 600;
  font-size: 16px;  /* inf pegos do figma*/
  line-height: 125%;

 }

 #form-habits {
  display: flex;

  padding: 182px 48px 48px;  /*topo, laterais, em baixo da "caixa"*/
  width: fit-content; /*Significa encaixe o conteudo na largura*/
 }

 .habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
 }

 .habit {
  /*border: 1px solid red;*/

  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
 }

 .days {
   display: flex;
   gap: 48px;
   margin-left: 32px;
 }

 .day {
  display: flex;
  flex-direction: column;
  gap: 24px;
 }

 .day div {
  margin-bottom: 8px;

  font-family: 'Roboto Mono';
  font-size: 20px;
  line-height: 125%;

  color: white;

  text-align: center;
 }

 input{
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272A;
  border-radius: 8px;

  background: #18181B;
 }
/*esse seletor abaixo é um dos tipos chamado de pseudo-selector, esse com dois pontos*/
 input:checked {
  background: #8B5CF6;
  border: 2px solid #A78BFA;
 }

 /*Regra de CSS, como se fosse uma função*/
 @media (max-width: 570px){
   button div {
    display:none;   /*Faz com que a mensagem no div suma*/
   }
 }